Package: techhax.tol.widget
Name: Tunnel Of Light
Version: 1.0.0
Architecture: iphoneos-arm
Description: Animated Tunnel Of Light Wallpaper
Homepage: https://techhax.co
Depiction: https://repo.packix.com
Maintainer: TechHax
Author: TechHax
Section: Widgets
